@import url(../fonts/MaterialSymbols/MaterialSymbols.css);
@import url(../fonts/Quicksand/Quicksand.css);

body {
	background: #000;
	color: #EEE;
	margin: 0;
	user-select: none;
	font-size: 14px;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}


/* Dynamic paging */
.screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: 0;
	transition: all .4s;
}
.screen::-webkit-scrollbar {
	display: none;
}
.screen.hidden {
	transform: translateX(128px);
	opacity: 0;
	visibility: hidden;
}
.screen#main.hidden {
	transform: translateX(-80px);
}

.screen .wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: 50%;
	max-width: 640px;
	transform: translateX(-50%);
}

.header {
	padding: 8px 4px;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: #000D;
	backdrop-filter: blur(8px);
	box-shadow: 10px 0 10px #000;
	align-items: center;
}
.header .icon.back {
	padding: 10px;
	color: #BBB;
	cursor: pointer;
	border-radius: 12px;
	margin-right: 10px;
	transition: all .2s;
}
.header .icon.back:hover {
	background: #282828;
	color: #DDD;
}
.header .title {
	font-size: 22px;
}

.contents {
	padding-bottom: 48px;
}


/* Universal UI Stuff */
.clickable {
	cursor: pointer;
}
.darken {
	color: #888;
}


/* UI Components */
.list {
	padding: 6px;
	background: #181818;
	border-radius: 24px;
	margin: 8px;
}
.list .item {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	border-radius: 20px;
	padding: 12px;
	transition: all .2s;
}
.list .item:last-child {
	margin: 0;
}
.list .item.clickable:hover {
	background: #282828;
}
.list .item .icon {
	margin-right: 16px;
	font-size: 24px;
	color: #222;
	background: #B8F;
	padding: 10px;
	border-radius: 12px;
}
.list .item .name {
	font-size: 16px;
	margin-bottom: 1px;
}
.list .item .value {
	color: #999;
}

.sided {
	display: flex;
	align-items: center;
	margin: 64px 12px;
}
.sided > div {
	width: 50%;
	text-align: center;
}
.sided .icon {
	font-size: 32px;
	color: #222;
	background: #F77;
	margin-bottom: 10px;
	padding: 12px;
	border-radius: 12px;
}
.sided .title {
	font-size: 18px;
}
.sided .value {
	opacity: .6;
}

.bar {
	padding: 12px;
	margin: 32px 0 12px;
}
.bar .text {
	color: #D8D8D8;
	display: flex;
	align-items: flex-end;
}
.bar .value {
	font-size: 64px;
	margin-bottom: -12px;
}
.bar .unit {
	font-size: 20px;
	margin-left: 4px;
}
.bar .right {
	color: #888;
	margin-left: auto;
}
.bar .progress {
	background: #222;
	height: 16px;
	margin: 6px 0 8px;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
}
.bar .progress:after {
	content: "";
	position: absolute;
	width: var(--value);
	height: 100%;
	background: #D6D6D6;
}
.bar .desc {
	color: #888;
}