.red {
    --color: 0;
}
.orange {
    --color: 30;
}
.yellow {
    --color: 55;
}
.green {
    --color: 100;
}
.lightblue {
    --color: 210;
}
.blue {
    --color: 240;
}
.purple {
    --color: 270;
}
.pink {
    --color: 320;
}