@import url(../fonts/MaterialSymbols/MaterialSymbols.css);
@import url(../fonts/Quicksand/Quicksand.css);

body {
	background: hsl(var(--color), 90%, 2%);
	color: hsl(var(--color), 95%, 90%);
	margin: 0;
	user-select: none;
	font-size: 14px;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
	transition: all .5s;
}
.unloaded {
	opacity: 0;
	transform: scale(0.9);
	visibility: hidden;
}


/* Dynamic paging */
.screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: 0;
	transition: all .4s;
}
.screen::-webkit-scrollbar {
	display: none;
}
.screen.hidden {
	transform: translateX(128px);
	opacity: 0;
	visibility: hidden;
}
.screen#main.hidden {
	transform: translateX(-80px);
}

.screen .wrapper {
	position: absolute;
	width: calc(100% - 24px);
	top: 0;
	left: 50%;
	max-width: 640px;
	transform: translateX(-50%);
}

.header {
	padding: 12px 4px;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 1000;
	background: hsla(var(--color), 90%, 2%, 88%);
	backdrop-filter: blur(8px);
	box-shadow: 10px 0 10px hsl(var(--color), 90%, 2%);
	align-items: center;
}
.header i.back {
	padding: 10px;
	cursor: pointer;
	border-radius: 12px;
	margin-right: 10px;
	transition: all .2s;
}
.header i.back:hover {
	background: #FFFFFF18;
}
.header .title {
	font-size: 22px;
}

.contents {
	padding-bottom: 48px;
}


/* Universal UI Stuff */
p {
	margin: 0;
	display: block;
}
.clickable {
	cursor: pointer;
}
.darken {
	opacity: .5;
}
.title-main {
	text-align: center;
	font-size: 72px;
	margin: 112px 0 12px;
}
.title-main div {
	display: inline-block;
	color: hsl(var(--color), 90%, 82%);
}
button {
	display: flex;
	align-items: center;
	background: hsl(var(--color), 20%, 10%);
	color: inherit;
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	border-radius: 24px;
	padding: 14px 16px;
	font-weight: bold;
	cursor: pointer;
	transition: all .2s;
}
button i {
	margin-right: 8px;
	font-size: 20px;
}
button:hover {
	background: hsl(var(--color), 20%, 15%);
}


/* UI Components */
.list {
	padding: 6px;
	border-radius: 24px;
	margin: 8px;
}
.list .item {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	border-radius: 20px;
	padding: 16px;
	background: hsl(var(--color), 20%, 9%);
	transition: all .2s;
}
.list .clickable:hover {
	background: hsl(var(--color), 20%, 12%);
}
.list i {
	margin-right: 16px;
	font-size: 24px;
	color: #222;
	background: hsla(var(--color), 900%, 82%);
	padding: 10px;
	border-radius: 12px;
}
.list .name {
	font-size: 16px;
	margin-bottom: 1px;
}
.list .value {
	opacity: .58;
}
.list .arrow {
	background: hsl(var(--color), 20%, 14%);
	color: hsl(var(--color), 90%, 90%);
	font-size: 18px;
	margin: 0;
	margin-left: auto;
	border-radius: 100px;
	transition: all .2s;
}
.list .item:hover .arrow {
	background: hsl(var(--color), 20%, 18%);
}
.list .arrow::after {
	content: "chevron_right";
}

.sided {
	display: flex;
	align-items: center;
	margin: 64px 12px;
}
.sided > div {
	width: 50%;
	text-align: center;
}
.sided i {
	font-size: 32px;
	color: #222;
	background: hsl(var(--color), 100%, 77%);
	margin-bottom: 10px;
	padding: 12px;
	border-radius: 12px;
}
.sided .title {
	font-size: 18px;
}
.sided .value {
	opacity: .6;
}

.bar {
	padding: 12px;
	margin: 32px 0 12px;
}
.bar .text {
	display: flex;
	align-items: flex-end;
}
.bar .value {
	font-size: 64px;
	margin-bottom: -12px;
}
.bar .unit {
	font-size: 20px;
	margin-left: 4px;
}
.bar .right {
	opacity: .5;
	margin-left: auto;
}
.bar .progress {
	background: hsl(var(--color), 30%, 11%);
	height: 16px;
	margin: 6px 0 8px;
	border-radius: 16px;
	overflow: hidden;
	position: relative;
}
.bar .progress:after {
	content: "";
	position: absolute;
	width: var(--value);
	height: 100%;
	background: hsl(var(--color), 90%, 90%);
	transition: all .7s;
}
.bar .desc {
	opacity: .5;
}
.center {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.titlebar {
	margin-bottom: 64px;
}
.themes {
	margin: 12px 4px;
	display: flex;
	align-items: center;
	width: 100%;
}
.themes .theme {
	width: 50%;
	cursor: pointer;
	margin: 8px;
	padding: 4px 14px;
	background: #111;
	border-radius: 30px;
}
.theme .preview .box {
	background: #222;
	border-radius: 16px;
	margin: 12px 0;
	padding: 12px;
	display: flex;
	align-items: center;
}
.theme .preview .box i {
	margin-left: auto;
	color: #BBB;
	font-size: 18px;
	border-radius: 48px;
	background: #333;
	padding: 8px 7px 7px 8px;
}
.themes .theme.selected {
	border: 4px solid #68F;
}

.accents {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 480px;
	padding: 12px;
}
.accents div {
	height: 32px;
	width: 32px;
	border-radius: 48px;
	margin: 8px;
	background: hsl(var(--color), var(--saturation, 100%), 50%);
}
.accents .selected {
	border: 4px solid #68F;
}